.about-company {
  display: flex;
  position: relative;
  max-width: 1254px;
  margin: 0 auto;
  padding: 67px 14px 67px 119px;
  margin-bottom: 58px;

  @media (max-width: $max-tab-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 98px;
    margin: 0;
  }

  @media (max-width: $max-mob-width) {
    padding: 29px 14px 10px 14px;
    margin-bottom: 69px;
  }
}

.about-company__wrap {
  margin-left: 103px;

  @media (max-width: $max-tab-width) {
    margin-left: 91px;
  }

  @media (max-width: $max-mob-width) {
    margin-left: 0;
  }
}

.about-company__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  font-family: $title-text;
  color: $dark-gray;
  margin: 0;

  @media (max-width: $max-tab-width) {
    font-size: 32px;
    line-height: 140.62%;
    padding: 2px 0 5px 0;
  }

  @media (max-width: $max-mob-width) {
    font-size: 28px;
    line-height: 140.62%;
  }
}

.about-company__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 24px 5px 3px 0;
  font-family: $main-text;
  color: $dark-gray;
  margin: 0;

  @media (max-width: $max-tab-width) {
    padding: 20px 5px 1px 3px;
  }

  @media (max-width: $max-mob-width) {
    font-size: 16px;
    padding: 13px 2px 26px;
  }
}

.about-company__text:nth-child(3) {
  margin-bottom: 49px;
  padding-top: 17px;

  @media (max-width: $max-tab-width) {
    margin-bottom: 53px;
    padding-top: 19px;
  }

  @media (max-width: $max-mob-width) {
    margin-bottom: 22px;
    padding-bottom: 21px;
    padding-top: 13px;
  }
}

.about-company__other-text {
  display: block;

  @media (max-width: $max-tab-width) {
    display: none;
  }
}

.about-company__link {
  font-family: $title-text;
  border: 1px solid $blue;
  color: $blue;
  background-color: $white;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 2px;
  border-radius: 5px;
  padding: 13px 50px;
  text-decoration: none;

  &:hover {
    border: 1px solid $white;
    color: $white;
    background-color: $blue;
  }
}

.about-company__img {
  display: block;
  position: absolute;
  width: 220px;
  height: 317px;
  top: 74px;
  left: 17px;

  @media (max-width: $max-tab-width) {
    top: 10px;
    left: 0;
    width: 244px;
    height: 362px;
  }

  @media (max-width: $max-mob-width) {
    display: none;
  }
}
