.about-company {
  background-color: $white;
  padding: 10px 14px;
  margin-bottom: 69px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 87px;
  }
}

.about-company__wrap {
  @media (min-width: $tablet-width) {
    margin-left: 196px;
  }
}

.about-company__title {
  font-family: $title-text;
  color: $dark-gray;
  font-size: 28px;
  line-height: 140.62%;
  font-style: normal;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 140.62%;
    padding: 2px 0 5px 0;
  }
}

.about-company__text {
  font-family: $main-text;
  color: $dark-gray;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 20px 2px;

  @media (min-width: $tablet-width) {
    padding: 20px 5px 1px 3px;
  }
}

.about-company__text:nth-child(3) {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }
}

.about-company__other-text {
  display: none;
}

.about-company__link {
  font-family: $title-text;
  border: 1px solid $blue;
  color: $blue;
  background-color: $white;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 2px;
  border-radius: 5px;
  padding: 13px 50px;
  text-decoration: none;
}

.about-company__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    left: 0;
  }
}
