.guidelines {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 91px;

  @media (max-width: $max-tab-width) {
    padding-top: 34px;
  }

  @media (max-width: $max-mob-width) {
    margin-bottom: 7px;
    padding-top: 15px;
  }
}

.guidelines__list {
  padding: 20px 23px 4px 24px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1218px;
  justify-content: space-between;

  @media (max-width: $max-tab-width) {
    padding-bottom: 43px;
  }

  @media (max-width: $max-mob-width) {
    //display: block;
    width: 100%;
    padding: 22px 16px 20px 13px;
    flex-direction: column;
  }
}

.guidelines__title {
  font-family: $title-text;
  color: $blue;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  margin-top: 28px;
  padding: 19px 0 16px 0;

  @media (max-width: $max-tab-width) {
    padding: 20px 0 12px 0;
    font-size: 24px;
    line-height: 34px;
  }

  @media (max-width: $max-mob-width) {
    font-size: 20px;
    line-height: 140.62%;
  }
}

.guidelines__text {
  font-family: $main-text;
  color: $dark-gray;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $max-tab-width) {
    font-size: 16px;
    line-height: 21px;
  }
}

.guidelines__item {
  position: relative;
  list-style: none;
  border: 1px solid $border-gray;
  border-left: 3px solid $blue;
  background-color: $white;
  min-height: 298px;
  max-width: 48.7%;
  padding: 46px 36px 28px 41px;
  margin-bottom: 32px;

  @media (max-width: $max-tab-width) {
    min-width: 345px;
    min-height: 232px;
    padding: 18px 20px 28px 26px;
    margin-bottom: 32px;
    max-width: 48%;
  }

  @media (max-width: $max-mob-width) {
    padding: 24px 18px 28px 26px;
    margin-bottom: 20px;
    min-height: auto;
    min-width: 260px;
    max-width: 322px;
  }

  &:hover {
    background-color: $blue;
    cursor: pointer;
    color: $white;
    border: 1px solid $blue;
    border-left: 3px solid $blue;

    & h3 {
      color: $white;
    }

    & p {
      color: $white;
    }

    & svg {
      fill: $white;
    }
  }
}

.guidelines__item:nth-child(2) {
  padding: 46px 36px 28px 41px;

  @media (max-width: $max-tab-width) {
    padding: 17px 21px 23px 24px;
  }

  @media (max-width: $max-mob-width) {
    padding: 23px 11px 28px 26px;
  }
}

.guidelines__item:nth-child(3) {
  padding: 46px 36px 28px 41px;

  @media (max-width: $max-tab-width) {
    padding: 15px 18px 35px 25px;
    margin-bottom: 0;
  }

  @media (max-width: $max-mob-width) {
    padding: 17px 18px 35px 26px;
    margin-bottom: 20px;
  }
}

.guidelines__item:nth-child(4) {
  padding: 46px 36px 28px 41px;

  @media (max-width: $max-tab-width) {
    padding: 18px 18px 35px 25px;
    margin-bottom: 0;
  }

  @media (max-width: $max-mob-width) {
    padding: 19px 18px 30px 26px;
  }
}

.guidelines__icon {
  fill: $blue;
  position: absolute;
  top: 40px;

  @media (max-width: $max-tab-width) {
    top: 23px;
  }

  &:hover,
  &:active {
    fill: $white;
  }
}

.guidelines__icon--stopwatch {
  width: 29px;
  height: 35px;

  @media (max-width: $max-tab-width) {
    width: 30px;
    height: 36px;
  }
}

.guidelines__icon--hired {
  width: 35px;
  height: 35px;

  @media (max-width: $max-tab-width) {
    width: 30px;
    height: 36px;
    top: 21px;
    left: 26px;
  }
}

.guidelines__icon--detective {
  width: 36px;
  height: 31px;
  top: 43px;

  @media (max-width: $max-tab-width) {
    width: 31px;
    top: 24px;
  }
}

.guidelines__icon--tag {
  width: 32px;
  height: 32px;
}
