.header {
  background-color: $dark-blue;
  background-image: url("../img/background-image.png");
  width: 100%;
  min-height: 878px;
  overflow: hidden;

  @media (max-width: $max-tab-width) {
    min-height: 686px;
  }

  @media (max-width: $max-mob-width) {
    min-height: 647px;
  }
}

.header__wrap-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 19px 20px 13px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: $max-tab-width) {
    padding: 20px 15px 15px 25px;
  }

  @media (max-width: $max-mob-width) {
    padding: 17px 6px 15px 17px;
  }
}

.header__logo-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
  }

  @media (max-width: $max-mob-width) {
    display: block;
  }
}

.header__logo-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: $max-mob-width) {
    display: none;
  }
}

.header__logo-title,
.header__btn,
.header__title,
.header__btn-name {
  font-family: $title-text;
  color: $white;
}

.header__logo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin: 0;
  padding: 7px 17px 1px 17px;

  @media (max-width: $max-tab-width) {
    padding: 6px 17px 1px 17px;
  }

  @media (max-width: $max-mob-width) {
    display: none;
  }
}

.header__logo-text {
  font-family: $logo-text;
  color: $gray;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 0 16px;

  @media (max-width: $max-mob-width) {
    display: none;
  }
}

.header__btn {
  background-color: rgba(100, 100, 100, -1);
  border: 1px solid $white;
}

.header__contact-link,
.header__text,
.header__information-scroll {
  font-family: $main-text;
  color: $white;
}

.header__logo-img {
  width: 52px;
  height: 52px;

  @media (max-width: $max-mob-width) {
    width: 38px;
    height: 38px;
  }
}

.header__contact-wrap {
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.header__contact-cont,
.header__contact-link {
  display: flex;
}

.header__contact-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.header__contact-cont {
  min-width: 0;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  margin-left: 9px;

  @media (max-width: $max-tab-width) {
    margin-right: 0;
  }
}

.header__contact-cont:nth-child(1) {
  margin: 0;
  padding-right: 9px;

  @media (max-width: $max-tab-width) {
    margin-right: 24px;
    margin-top: 3px;
  }

  @media (max-width: $max-mob-width) {
    padding-right: 23px;
    margin-right: 0;
  }
}

.header__contact-cont:nth-child(2) {
  margin-left: 81px;

  @media (max-width: $max-tab-width) {
    margin-left: 0;
  }
}


.header__contact-link--mail:hover,
.header__contact-link--tel:hover {
  opacity: 0.7;
}

.header__icon {
  width: 18px;
  height: 18px;
  margin: 15px 17px 0 0;
  fill: $blue;

  @media (max-width: $max-tab-width) {
    width: 25px;
    height: 25px;
    margin: 0;
  }
}

.header__information-block {
  position: relative;
  max-width: 1440px;
  padding: 0 3px;
  margin: 0 auto;

  @media (max-width: $max-tab-width) {
    padding-left: 3px;
  }

  @media (max-width: $max-mob-width) {
    padding: 0 16px;
  }
}

.header__icon-text,
.header__btn-tel,
.header__information-scroll {
  @media (max-width: $max-mob-width) {
    display: none;
  }
}

.header__information-scroll {
  display: block;
  position: absolute;
  left: -27px;
  bottom: -147px;
  transform: rotate(-90deg);
  opacity: 0.5;
  font-size: 14px;
  cursor: pointer;
  z-index: 4;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    transition: all 0.5s ease;
  }

  @media (max-width: $max-tab-width) {
    display: none;
  }
}

.header__btn-tel {
  &:hover {
    color: $blue;
    background-color: $white;
    border: 1px solid $blue;
    transition: all 0.3s ease;
  }

  font-family: $title-text;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  color: $white;
  background-color: $transparent;
  border-radius: 5px;
  border: 1px solid $white;
  padding: 14px 25px;
  margin-top: 3px;
  margin-left: 40px;
  margin-bottom: 5px;
  cursor: pointer;

  @media (max-width: $max-tab-width) {
    display: none;
  }
}

.header__icon-text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  @media (max-width: $max-tab-width) {
    display: none;
  }
}


.header__btn-name {
  display: inline-block;
  border: 1px solid $blue;
  background-color: $blue;
  border-radius: 5px;
  padding: 18px 34px;
  min-width: 400px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  cursor: pointer;
  margin: 2px 0 0 104px;
  text-decoration: none;

  @media (max-width: $max-tab-width) {
    padding: 18px 27px 18px 25px;
    margin: 0 0 0 136px;
  }

  @media (max-width: $max-mob-width) {
    display: none;
    padding: 18px 28px 18px 26px;
  }

  &:hover {
    color: $blue;
    background-color: $white;
  }
}

.header__btn-name--big {
  min-width: 410px;

  @media (max-width: $max-tab-width) {
    padding: 18px 27px 18px 25px;
    min-width: 379px;
  }

  @media (max-width: $max-mob-width) {
    display: none;
  }
}

.header__btn-name--min {
  display: none;

  @media (max-width: $max-mob-width) {
    display: block;
    min-width: 287px;
    padding: 17px 0;
    margin: 0;
    margin-left: 2px;
  }
}

.header__information-img {
  position: absolute;
  width: 710px;
  height: 642px;
  top: -191px;
  right: -64px;
  overflow: hidden;
  z-index: 0;

  @media (max-width: $max-tab-width) {
    width: 535px;
    height: 495px;
    top: -214px;
    right: -207px;
  }

  @media (max-width: $max-mob-width) {
    width: 618px;
    height: 477px;
    top: -327px;
    right: -327px;
  }
}

.header__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  margin: 198px 0 20px 0;
  padding: 2px 2px 2px 5px;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 6.2px;
  max-width: 750px;

  @media (max-width: $max-tab-width) {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.08em;
    margin: 99px 0 20px 0;
    max-width: 600px;
    padding: 2px 72px 2px 85px;
  }

  @media (max-width: $max-mob-width) {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 3px;
    margin: 210px 0 20px 0;
    padding: 2px 0;
  }
}

.header__text {
  position: relative;
  font-style: normal;
  font-weight: normal;
  max-width: 700px;
  font-size: 22px;
  line-height: 34px;
  margin: 18px 0 34px 89px;
  padding: 6px 15px;

  @media (max-width: $max-tab-width) {
    font-size: 18px;
    line-height: 156.8%;
    max-width: 400px;
    margin: 18px 0 49px 119px;
  }

  @media (max-width: $max-mob-width) {
    font-size: 16px;
    line-height: 156.8%;
    margin: 16px 0 35px 34px;
    max-width: 500px;
  }
}

.header__text::after {
  content: "";
  position: absolute;
  background-image: url("../img/line.png");
  background-size: 33px 2px;
  background-repeat: no-repeat;
  width: 66px;
  top: 23px;
  left: -78px;
  background-color: $white;
  height: 2px;

  @media (max-width: $max-tab-width) {
    top: 23px;
    left: -31px;
    width: 33px;
  }

  @media (max-width: $max-mob-width) {
    top: 20px;
    left: -32px;
  }
}
