.questions {
  background-color: $blue;
  padding: 10px 16px 42px 15px;

  @media (min-width: $tablet-width) {
    padding: 40px 85px 82px 88px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1710px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 80px;
    padding-right: 17px;
    justify-content: flex-end;
  }
}

.questions__title,
.questions__btn {
  font-family: $title-text;
  color: $white;
}

.questions__text,
.questions__input,
.questions__checkbox {
  font-family: $main-text;
  color: $white;
}

.questions__checkbox {
  max-width: 259px;
  margin: 9px 0 0 38px;

  @media (min-width: $tablet-width) {
    max-width: 236px;
  }

  @media (min-width: $desktop-width) {
    margin: 8px 0 0 25px;
    max-width: 200px;
  }
}

.questions__input,
.questions__textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.questions__img-wap {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.questions__img {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 686px;
    height: auto;
    left: -8.3%;
    top: -9.8%;
  }
}

.questions__wapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 11px 10px;
    margin-right: 36px;
  }
}

.questions__title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  margin: 0;
  padding: 20px 0 5px 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    padding: 40px 0 10px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 51px;
    padding-bottom: 3px;
  }
}

.questions__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 7px 0 25px 0;

  @media (min-width: $tablet-width) {
    padding: 7px 5px 25px 5px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}

.questions__form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 574px;
  }
}

.questions__input {
  width: 100%;
  min-height: 50px;
  padding-left: 16px;
  line-height: 22px;
  margin-bottom: 32px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    max-width: 48%;
    min-height: 52px;
    padding-left: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
    margin-left: 1px;
  }
}

.questions__input:nth-child(2) {
  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}

.questions__textarea {
  width: 100%;
  min-height: 106px;
  line-height: 26px;
  padding: 10px 2px 2px 16px;
  font-size: 16px;
  resize: none;

  @media (min-width: $tablet-width) {
    margin-left: 5px;
    min-height: 160px;
  }

  @media (min-width: $desktop-width) {
    min-height: 153px;
    line-height: 22px;
    letter-spacing: 0.7px;
  }
}

.questions__btn {
  border: 1px solid $white;
  background-color: $blue;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin-bottom: 21px;

  &:hover,
  &:active {
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;
  }

  @media (min-width: $tablet-width) {
    max-width: 280px;
    margin-right: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 17px;
    margin-right: 37px;
    max-width: 271px;
  }
}

.questions__btn-wapper {
  margin-top: 29px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
}

.questions__btn-wapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.questions__btn-wapper label {
  display: block;
  text-align: start;
  width: 100%;
  opacity: 0.8;
  font-family: $main-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  margin-left: 34px;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: $blue;
    border: 1px solid $white;
    top: 1px;
    left: -34px;
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);
    left: -31px;
    top: 4px;
  }
}

.questions__form input[type="checkbox"] + label::after {
  content: none;
}

.questions__form input[type="checkbox"]:checked + label::after {
  content: "";
}
